@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/josefinsans/v20/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/josefinsans/v20/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans';
}

:root {
	--app-with: 550px;
	--Text-Font-Size: 1.5rem;
	/* Colors */
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
	--Light-Grayish-Blue: hsl(233, 11%, 84%);
	--Dark-Grayish-Blue: hsl(236, 9%, 61%);
	--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
	--Bright-Blue: hsl(220, 98%, 61%);

	--Very-Dark-Blue: hsl(235, 21%, 11%);
	--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
	--Light-Grayish-Blue: hsl(234, 39%, 85%);
	--Light-Grayish-Blue-Hover: hsl(236, 33%, 92%);
	--Dark-Grayish-Blue: hsl(234, 11%, 52%);
	--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
	--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

	/* Light */
	--Background-Color: var(--Very-Light-Gray);
	--Paper-Background: white;
	--Background-Image: url('../resources/imgs/bg-desktop-light.jpg');
	--Toggle-Image: url('../resources/imgs/icon-moon.svg');
	--Todo-Color: var(--Very-Dark-Grayish-Blue);
	--Todo-Color-Completed: var(--Very-Light-Grayish-Blue);
}
#theme-toggle:checked + div {
	--Background-Color: var(--Very-Dark-Blue);
	--Paper-Background: var(--Very-Dark-Desaturated-Blue);
	--Background-Image: url('../resources/imgs/bg-desktop-dark.jpg');
	--Toggle-Image: url('../resources/imgs/icon-sun.svg');
	--Todo-Color: var(--Very-Light-Grayish-Blue);
	--Todo-Color-Completed: var(--Very-Dark-Grayish-Blue);
}
body > div {
	width: 100%;
	min-height: 100vh;
	background-color: var(--Background-Color);
	background-image: var(--Background-Image);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}
body > input {
	display: none;
}

.contained {
	width: 100%;
	max-width: var(--app-with);
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	color: white;
	letter-spacing: 13px;
}
header h1 {
	font-size: 2.5rem;
}
header label {
	width: 26px;
	height: 26px;
	background: var(--Toggle-Image);
	cursor: pointer;
}
.paper {
	background-color: var(--Paper-Background);
	box-shadow: 0 0 15px hsl(0deg 0% 0% / 32%);
	border-radius: 5px;
}
#create-form {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}
.todo {
	display: flex;
	color: var(--Todo-Color);
	font-size: var(--Text-Font-Size);
	width: 100%;
	background: none;
	border: none;
	padding: 1.5rem 1rem;
	align-items: center;
}

.todo label {
	flex-grow: 1;
	cursor: pointer;
}
.todo::placeholder {
	color: var(--Dark-Grayish-Blue);
	font-size: var(--Text-Font-Size);
}
.todo input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin-right: 1rem;
}
input[type='checkbox']:checked + label {
	color: var(--Todo-Color-Completed);
	text-decoration: line-through;
}
/* :first-child */
/* :nth-child(number) */
/* :last-child */
#todo-list .todo:not(:last-child) {
	border-bottom: 1px solid var(--Very-Light-Grayish-Blue);
}
#footer p,
#footer button {
	font-size: 1rem;
	color: var(--Dark-Grayish-Blue);
}

#footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
#footer button {
	background: none;
	border: none;
	cursor: pointer;
}
.filters button {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 700;
	padding: 0px 0.5rem;
}
#footer .filters button.active {
	color: var(--Bright-Blue);
}
#mobile-filters {
	display: none;
}
@media screen and (max-width: 375px) {
	:root {
		/* Light */
		--Background-Image: url('../resources/imgs/bg-mobile-light.jpg');
	}
	#theme-toggle:checked + div {
		--Background-Image: url('../resources/imgs/bg-mobile-dark.jpg');
	}
	#mobile-filters {
		display: flex;
		margin-top: 1rem;
		padding: 1rem;
		justify-content: center;
	}
}
